<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        @media(min-width: 992px) {
            section {
                width: 50%;
            }

            .main-row {
                display: flex;
                width: 100%;
                height:100%;
            }
            .org-info {
                height: 100%;
                border: 3px solid {{ styles.border_color }};
                border-collapse: collapse;
            }

            .orgs-background {
                min-height: 500px;
                background-color: {{ styles.background_color }};
                color: {{ styles.text_color }};
                height: 100%;
                padding: 15px;
            }
        }
        a {
            color: {{ styles.link_color }} !important;
        }
        html, body {
            height: 100%;
            width: 100vw;
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            text-align: center;
        }
        body > * {
            font-family: inherit;
        }

        label {
            padding-right: 5px;
        }

        div, label, span {
            font-size: {{ styles.font_size }};
        }
        .highlight {
            background-color: #92D18B;
        }
        .newhighlight {
            background-color: #FFAAAA;
        }

        .main-row .btn-danger {
            color: #fff !important;
            background-color: #d9534f;
            border-color: #d43f3a;
        }
       .main-row .btn-success {
            color: #fff !important;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }
        .main-row .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            text-decoration: none;
        }

    </style>
</head>
<body>
{% set highlight_settings = [
    highlight.field_key ? "highlight" : "",
    highlight.field_value ? "highlight" : "",
] %}
<h1>{{ node_type }} Changed: "{{ safe.node.title }}"</h1>
<div class="main-row">
    <!-- Begin Original node_type -->
    <section class="original-organization-info org-info">
        <div class="orgs-background">
            <h2>Before Change Information</h2><hr>
            {% if safe.user is defined %}
                <div class="user">
                    <h3>User Info</h3>
                    {% for key, value in safe.user %}
                        <div class="row">
                            <label>{{ (key|replace("_", " "))|capitalize }}:</label>
                            <span>{{ value }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if safe.node is defined %}
                <h3>Original {{ node_type }} Info</h3>
                {% for key, value in safe.node%}
                    <div class="row">
                        {% if diffs[key] is defined %}
                            <label class="{{ highlight_settings.0 }}">{{ (key|replace("_", " "))|capitalize }}:</label>
                            <span class="{{ highlight_settings.1 }}">{{ value }}</span>
                        {% else %}
                            <label>{{ (key|replace("_", " "))|capitalize }}:</label>
                            <span>{{ value }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    <!-- End Original node_type -->

    <!-- Begin New node_type -->
    <section class="new-organization-info org-info">
        <div class="orgs-background">
        <h2>After Change Information</h2><hr>
        {% if user is defined %}
            <div class="user">
                <h3>User Info</h3>
                {% for key, value in user %}
                    <div class="row">
                        <label>{{ (key|replace("_", " "))|capitalize }}:</label>
                        <span>{{ value }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if node is defined %}
            <h3>New {{ node_type }} Info</h3>
            {% for key, value in node %}
                <div class="row">
                    {% if diffs[key] is defined %}
                        <label class="new{{ highlight_settings.0 }}">{{ (key|replace("_", " "))|capitalize }}:</label>
                        <span class="new{{ highlight_settings.1 }}">{{ value }}</span>
                    {% else %}
                        <label>{{ (key|replace("_", " "))|capitalize }}:</label>
                        <span>{{ value }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </section>
</div>
    <!-- End New node_type -->
<div class="main-row">
    <section id="change-info">
        {% if admin_options is not empty %}
            <h2>Update this Revision</h2>
            <a class="btn btn-success" href="{{ admin_options.accept }}">Accept</a>
            <a class="btn btn-danger" href="{{ admin_options.delete }}">Delete</a>
        {% endif %}
    </section>
</div>
</body>
</html>